* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.prof-c {
  height: clac(100vh - 40px);
  width: 480px;
  margin: 20px auto;
  box-shadow: #222 10px 10px 30px; 
 
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff28af
}
.first-part {
  width: 45%;
  height: 100%;
  float: left;
}
.content {
  width: 55%;
  height: 100%;
  float: left;
  font-family: fantasy;
} 

img {
  border-radius: 50%;
  width: 150px;
  padding: 5px;
  margin: 10px 20%;
  transition: all .6s ease-in-out;
}
img:hover {
 transform: scale(1.1)
}

ul {
  list-style-type: none;
  
}

li {
  display: inline-block;
  padding: 20px
}
.name {
  text-align: center;
  padding: 5px;
}

#text {
  border-bottom: 5px dashed white;
}

.fas {
  padding-right: 5px;
}

i {
  color: #ffb7e4;
}

.masni {
  position: absolute;
  right: -165px;
  top: -80px
 
}

.pack {
  background-color: #ff80d0;
   position: relative;
}
